<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Camera Capture</title>
    <script src="static/js/jquery.min.js"></script>
  </head>
  <body>
    {% csrf_token %}
    <button id="captureBtn">Capture Photo</button>
    <video id="videoElement" autoplay></video>
    <canvas id="canvasElement" style="display: none;"></canvas>
    <div class="image_area" style="display:none;">
    <image src="static/output_images/output_image.jpg" height="400" width="400" id="cropped_img" >
    </div>
    <script>
      const video = document.getElementById('videoElement');
      const canvas = document.getElementById('canvasElement');
      const captureButton = document.getElementById('captureBtn');

      // Get video stream from the camera
      navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
          //window.stream = stream;
          video.srcObject = stream;
        })
        .catch(error => {
          console.error('Error accessing camera:', error);
        });

      // Capture photo from video stream
      function capturePhoto() {
        const context = canvas.getContext('2d');
        context.drawImage(video, 0, 0, canvas.width, canvas.height);
        const dataUrl = canvas.toDataURL('image/jpeg');

        // Send photo to the backend
        sendPhotoToBackend(dataUrl);
        console.log(dataUrl)
      }

      // Send photo to the backend
      function sendPhotoToBackend(photoData) {
        // Make a POST request to the backend endpoint
        csrf_token = $("input[name='csrfmiddlewaretoken']").val();
        $.ajax({
          url:'/process-image/',
          type: 'POST',
          data: {'photo': JSON.stringify(photoData)},
          contentType: 'application/json',
          headers:{'X-CSRFToken':csrf_token},
          success:function(data){
            console.log('Photo sent successfully');
            $('#cropped_img').attr('src','static/output_images/output_image1.jpg')
            $('.image_area').css('display','block')

          },
          error:function(error){
            console.error('Error sending photo:', error);}
        });
      }
      // Attach click event listener to the capture button
      captureButton.addEventListener('click', capturePhoto);
    </script>
  </body>
</html>
