<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Camera Capture</title>
    <script src="static/js/jquery.min.js"></script>
  </head>
  <body>
    {% csrf_token %}
    {% comment %} <input type="file" id="capture_img" accept="image/*" capture>
    <button id="captureBtn">Capture Photo</button> {% endcomment %}
    {% comment %} <video id="videoElement" autoplay></video>
    <canvas id="canvasElement" style="display: none;"></canvas> {% endcomment %}
    {% comment %} <div class="image_area" style="display:none;"> {% endcomment %}
      {% comment %} <body> {% endcomment %}
        <label class="cameraButton">Take a picture
          <input type="file" id="imgInp" accept="image/*;capture=camera">
        </label>
        <img id="blah" src="#" alt="your image" />\
      {% comment %} </body>
    </div> {% endcomment %}
    <script>
      function readURL(input) {
          if (input.files && input.files[0]) {
              var reader = new FileReader();
      
              reader.onload = function (e) {
                  $('#blah').attr('src', e.target.result);
                  sendPhotoToBackend(e.target.result)
              }
      
              reader.readAsDataURL(input.files[0]);
              console.log(reader)
          }
      }
      $("#imgInp").change(function(){
        readURL(this);
      });
      {% comment %} const video = document.getElementById('videoElement');
      const canvas = document.getElementById('canvasElement'); {% endcomment %}
      const captureButton = document.getElementById('captureBtn');

      // Get video stream from the camera
      navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
          //window.stream = stream;
          video.srcObject = stream;
        })
        .catch(error => {
          console.error('Error accessing camera:', error);
        });

      // Capture photo from video stream
      function capturePhoto() {
        const context = canvas.getContext('2d');
        context.drawImage(video, 0, 0, canvas.width, canvas.height);
        const dataUrl = canvas.toDataURL('image/jpeg');

        // Send photo to the backend
        sendPhotoToBackend(dataUrl);
        console.log(dataUrl)
      }

      // Send photo to the backend
      function sendPhotoToBackend(photoData) {
      
        // Make a POST request to the backend endpoint
        csrf_token = $("input[name='csrfmiddlewaretoken']").val();
        $.ajax({
          url:'/process-image/',
          type: 'POST',
          data: {"photo": photoData, 'csrfmiddlewaretoken':csrf_token},
          success:function(data){
            console.log('Photo sent successfully',data['url']);
            $('#cropped_img').attr('src',data['url'])
            $('.image_area').css('display','block')

          },
          error:function(error){
            console.error('Error sending photo:', error);}
        });
      }
      // Attach click event listener to the capture button
      captureButton.addEventListener('click', capturePhoto);
    </script>
  </body>
</html>
