<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Camera Capture</title>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/mail.js"></script>
  </head>
  <body id="root">
    {% csrf_token %}
    <input type="hidden" id="csrfToken" value="{% csrf_token %}">

    <label class="cameraButton">Take a picture
      <input type="file" id="imgInp" accept="image/*;capture=camera">
    </label>
    <img id="blah" src="#" height="450" width="300" alt="your image" />
    <img id="cropped_img" height="450" width="300" src="#" alt="your image" />

  </body>
</html>